* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

.main-container {
  background-color: white;
  font-family: sans-serif;
  width: 90%;
  margin: auto;
  padding: 10px;
}

.img-gambar {
  display: flex;
  flex-wrap: wrap;
}

.img-gambar img {
  width: 20%;
}
